.skeletonBanner {
    width: 100%;
    padding: 10px;
    position: relative;
}

.skeletonCard {
    width: 100%;
    border-radius: 1.5em;
    background-color: #feeeb6; // Using the banner's yellow background color
    overflow: hidden;
    position: relative;
    aspect-ratio: 78 / 18;

    @media (max-width: 768px) {
        aspect-ratio: 78 / 26;
    }
}

.shimmer {
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        background: linear-gradient(90deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.2) 20%,
                rgba(255, 255, 255, 0.5) 60%,
                rgba(255, 255, 255, 0) 100%);
        animation: shimmer 2s infinite;
    }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}