.skeletonBanner {
  width: 100%;
  padding: 0;
  position: relative;
}

.skeletonCard {
  width: 100%;
  border-radius: 0px;
  background-color: #36454F;
  overflow: hidden;
  position: relative;
  min-height: 520px;
  aspect-ratio: 16 / 7;

  @media (max-width: 768px) {
    min-height: 480px;
    aspect-ratio: 4 / 5;
  }
}

.shimmer {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.08) 20%,
      rgba(255, 255, 255, 0.18) 60%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 1.8s infinite;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}